@model Web.Models.ProjectViewModel

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<table class="table">
    <tr>
        <th>
            Headline
        </th>
        <th>
            Description
        </th>
        <th>
            Created Date
        </th>
        <th>
            Completed
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Tasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTask", "Task", new {@Model.ProjectID, item.TaskID}, new { @class = ""}) |
                @Html.ActionLink("Delete", "DeleteTask", "Task", new {@Model.ProjectID, item.TaskID}, new { @class = "delete-button-red-color" })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Create new task", "CreateTask", "Task", new {@Model.ProjectID}, new { @class = "btn btn-success" })